---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: savvy
spec:
  replicas: 2
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - savvy
                topologyKey: kubernetes.io/hostname
      containers:
        - name: savvy
          image: ghcr.io/sbaerlocher/container/savvy:staging
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 256Mi
