apiVersion: apps/v1
kind: Deployment
metadata:
  name: savvy
spec:
  replicas: 3
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - savvy
                topologyKey: kubernetes.io/hostname
      containers:
        - name: savvy
          image: ghcr.io/sbaerlocher/container/savvy:1.1.0
          env:
            - name: OAUTH_CLIENT_ID
              valueFrom:
                configMapKeyRef:
                  name: savvy-oauth
                  key: CLIENT_ID
            - name: OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: savvy-oauth
                  key: CLIENT_SECRET
            - name: OAUTH_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: savvy-oauth
                  key: ISSUER
            - name: OAUTH_REDIRECT_URL
              valueFrom:
                configMapKeyRef:
                  name: savvy-oauth
                  key: REDIRECT_URL
          resources:
            limits:
              cpu: "2"
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 512Mi
